In [1]:
import pandas as pd

In [127]:
folder1="con_campo_entero/1"
file1=folder1+"/"+"test05.csv"
bd1=pd.read_csv(file1,sep="\t")
print bd1.head(5)
#bd1[bd1.ion_px_mm>95]
bd=bd1[bd1.iloc[:,1]>53]
print "ion_num1:",bd[bd.ion_number==1].shape[0],"ion_num2:",bd[bd.ion_number==2].shape[0],"ion_num3:",bd[bd.ion_number==3].shape[0]

   ion_time_of_flight  ion_px_mm   ion_py_mm   ion_pz_mm    bx   by   bz  el3  \
0            0.029626   29.862833    0.871108    5.037811 -0.9 -0.9 -0.9    0
1            0.029626   29.862833    0.871108    5.037811 -0.9 -0.9 -0.9    0
2            0.028761   32.230149    3.158218    5.045931 -0.9 -0.9 -0.9    0
3            0.028761   32.230149    3.158218    5.045931 -0.9 -0.9 -0.9    0
4            0.027150   25.868057   -3.921543    5.031797 -0.9 -0.9 -0.9    0

   el4  el5  ion_number  ion_color
0    0    0           1          0
1    0    0           1          0
2    0    0           2          1
3    0    0           2          1
4    0    0           3          3
ion_num1: 1034 ion_num2: 516 ion_num3: 10744

In [128]:
#bd2=bd[(bd.ion_number==3) ]
bd2=bd[(bd.iloc[:,1]>53) ]
bd2.index=range(bd2.shape[0])
print bd2.shape
bd2.head()
bd2_2=bd2[bd2.ion_color==1]
bd2_2.shape

(12294, 12)

(516, 12)

In [119]:
bd2.head(10)

,ion_time_of_flight,ion_px_mm,ion_py_mm,ion_pz_mm,bx,by,bz,el3,el4,el5,ion_number,ion_color
0,0.067711,93.046969,-3.577626,9.449867,-0.9,-0.6,-0.3,2,0,4,3,3
1,0.067711,93.046969,-3.577626,9.449867,-0.9,-0.6,-0.3,2,0,4,3,3
2,0.066424,93.153076,-3.427715,8.151597,-0.9,-0.6,-0.3,2,0,5,3,3
3,0.066424,93.153076,-3.427715,8.151597,-0.9,-0.6,-0.3,2,0,5,3,3
4,0.076147,93.027987,-4.349400,-0.020656,-0.9,-0.6,-0.3,3,0,0,3,3
5,0.076147,93.027987,-4.349400,-0.020656,-0.9,-0.6,-0.3,3,0,0,3,3
6,0.073368,93.102340,-3.977344,-0.732183,-0.9,-0.6,-0.3,3,0,1,3,3
7,0.073368,93.102340,-3.977344,-0.732183,-0.9,-0.6,-0.3,3,0,1,3,3
8,0.071083,93.033970,-3.639470,-1.339274,-0.9,-0.6,-0.3,3,0,2,3,3
9,0.071083,93.033970,-3.639470,-1.339274,-0.9,-0.6,-0.3,3,0,2,3,3

In [120]:
print bd2.shape
print bd2_2.shape

(12294, 12)
(516, 12)

In [121]:
bd2[bd2.iloc[:,1]<80]

Empty DataFrame
Columns: [ion_time_of_flight, ion_px_mm , ion_py_mm , ion_pz_mm , bx, by, bz, el3, el4, el5, ion_number, ion_color]
Index: []

In [129]:
bd2.iloc[bd2[abs(bd2.bx)<0.01].index.values,4]=0
bd2.iloc[bd2[abs(bd2.by)<0.01].index.values,5]=0
bd2.iloc[bd2[abs(bd2.bz)<0.01].index.values,6]=0

In [135]:
gbx,gby,gbz,gel3,gel4,gel5=[],[],[],[],[],[]
i=0
for bx,by,bz,el3,el4,el5 in zip(bd2_2.bx,bd2_2.by,bd2_2.bz,bd2_2.el3,bd2_2.el4,bd2_2.el5):
    #print bx,by,bz,el3,el4,el5
    b=bd2[(bd2.el3==el3)&(bd2.el4==el4)&(bd2.el5==el5)&(bd2.bx==bx)&(bd2.by==by)]
    #if i<10:
    #    print "---"
    #    print b.iloc[:,[1,4,5,6,7,8,9,10,11]]
    #    i=i+1
    #else:
    #    break
        
    if len(list(set(b.ion_color.values)))>2:
        #print len(list(set(b.ion_number.values)))
        #print bx,by,bz,el3,el4,el5
        #print set(b.ion_color.values)
        if abs(by)<0.001:
            by=0
        if abs(by)<0.001:
            by=0
        if abs(bz)<0.001:
            bz=0
        gbx.append(bx)
        gby.append(by)
        gbz.append(bz)
        gel3.append(el3)
        gel4.append(el4)
        gel5.append(el5)
        
datas={"bx":gbx,"by":gby,"bz":gbz,"el3":gel3,"el4":gel4,"el5":gel5}
newbd=pd.DataFrame(datas)
newbd=newbd.drop_duplicates()
newbd.index=range(newbd.shape[0])
newbd

Empty DataFrame
Columns: [bx, by, bz, el3, el4, el5]
Index: []